<%= button_to "Log out", "/logout", method: :delete %>

<% if user_signed_in? %>
    <p>Signed in as: <%= current_user.username %><p>
<% end %>

<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <div>content: <%= post.content %></div>
      <div>author: <%= post.author %></div>
      <div>comments: <%= link_to post.count, post %></div>
      <div>last updated: <%= post.updated_at %></div>
    </li>
    <p></p>
  <% end %>
</ul>

<%= link_to "Create new post", new_post_path %>