<p><%= @post.content %></p>
<p>author: <%= @post.author %></p>
<p>comments: <%= @post.comments %></div>
<p>last updated: <%= @post.updated_at %></p>

<% if current_user.username == @post.author %>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
<% end %>

<p></p>
<%= link_to "Back to posts", root_path %>